<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:replace="common/head-section :: headSection ('Home Page')"/>

<body>
<div class="container py-3">

    <th:block sec:authorize="isAuthenticated()">
        <div th:replace="common/header :: loggedInUserInfo"/>
    </th:block>

    <th:block sec:authorize="!isAuthenticated()">
        <div th:replace="common/header :: logInButton"/>
    </th:block>

    <h3>Shopping list application</h3>
    <hr class="mb-5">

    <h5>Functionality:</h5>
    <ul class="list-group list-group-flush mb-4">
        <li class="list-group-item">Create new user</li>
        <li class="list-group-item">Login / logout from the application</li>
        <li class="list-group-item">Browse a list of products</li>
        <li class="list-group-item">Add new product</li>
        <li class="list-group-item">View details of the selected product</li>
        <li class="list-group-item">Mark / unmark, delete, edit the product</li>
        <li class="list-group-item">Analogous functionality is exposed through REST services</li>
    </ul>
    <div class="row">
        <div class="col-auto">
            <a class="btn btn-outline-primary" th:href="@{/product/list}">Show product list</a>
        </div>
    </div>
</div>
</body>
</html>